---
import Layout from '../layouts/default.astro';
import Header from '../components/header.astro';
import Configurator from '../components/configurator.svelte';
import type { Translations } from '../locales/translations';
import fs from 'fs';
import path from 'path';
---

<Layout title="SOMEDIS-A Fragebogen" lang="de">
  <div x-data="{progress:0}">
    <Configurator client:load />
  </div>
</Layout>
