---
import Content from '../layouts/content.astro';
---

<Content title="Literatur | SOMEDIS-A" lang="de" footerFixed={false}>
  <h1>Literatur</h1>
  <p class="text-base">
    <b>Fragebogen nach:</b>
    <a
      href="https://pmc.ncbi.nlm.nih.gov/articles/PMC8100192/"
      class="cursor-pointer italic no-underline"
      >Austermann, Maria; Paschke, Kerstin; Thomasius, Rainer: Assessing
      Problematic Social Media Use in Adolescents by Parental Ratings:
      Development and Validation of the Social Media Disorder Scale for Parents
      (SMDS-P). In: Journal of Clinical Medicine, 2021, Bd. 10, Heft 4, Art.
      617, S. 1-15.</a
    >
  </p>
  <p class="text-base">
    <b>Deutsche Übersetzung:</b>
    <a
      href="https://cdn.sanity.io/files/72dc0gt7/production/215dc03f2bacd3a0acad4cdcca30f48893fbf2b0.pdf?dl=SOMEDIS-A.pdf"
      class="cursor-pointer italic no-underline"
      >Universitätsklinkum Hamburg-Eppendorf (2022): Social Media Disorder Scale
      for Adolescents. Unter:
      https://cdn.sanity.io/files/72dc0gt7/production/215dc03f2bacd3a0acad4cdcca30f48893fbf2b0.pdf?dl=SOMEDIS-A.pdf
      (abgerufen am 14.02.2026).</a
    >
  </p>
</Content>
