---
import ColorPicker from '../components/colorPicker.svelte';
import LanguagePicker from '../components/languagePicker.svelte';
import type { Translations } from '../locales/translations';
import { getLocalizedLink } from '../utils/i18n';

type Props = {
  content: Translations;
  button: boolean;
  language: string;
  backButton: boolean;
};

const { content, button, language, backButton } = Astro.props as Props;
const { pathname } = Astro.url;
---

<header
  class={`flex flex-row items-center ${backButton ? 'justify-between' : 'justify-end'}`}
>
  <div class="flex flex-row gap-6">
    <div transition:name="color-picker">
      <ColorPicker client:idle />
    </div>
    <div transition:name="language-picker">
      <LanguagePicker
        currentLanguage={language}
        currentRoute={pathname}
        client:idle
        transition:persist
      />
    </div>
    {
      button && (
        <a
          href={getLocalizedLink('/start', content.lang)}
          transition:name="start-project"
          class="xs:px-8 xs:text-base flex h-14 cursor-pointer items-center justify-center gap-2 rounded-2xl bg-black/5 px-6 text-sm font-semibold transition hover:bg-black/10 sm:h-16 sm:text-xl"
        >
          {content.start_project}
          <img
            src="/icons/chevron-right.svg"
            alt=""
            class="xs:block hidden h-6"
          />
        </a>
      )
    }
  </div>
</header>
